# Add any directories, files, or patterns you don't want to be tracked by version control

.ipynb_checkpoints
.idea
venv
*.npz
*.pyc
orig-sif/profile_output
orig-sif/profile_sif
orig-sif/sif_profile
*.npz
*.png
